# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
yarn.lock

asis
src/routeTree.gen.ts
src/asis
node_modules
dist
dist-ssr
.env
.env.*
!.env.example
!.env.cafe24.example
.agent
.agents
.gemini
*.local



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
