<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>서비스 승인</title>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body class="has-drawer" data-require-auth="true">
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>
<main class="app-main">
    <div class="card">
        <p class="breadcrumb"><a th:href="@{/service-management/service/list}">&larr; 목록</a></p>
        <h1 class="card__title">서비스 승인</h1>

        <div class="form-grid">
            <div class="form-grid__label">신청자</div>
            <div><input id="applicantName" class="input-full" type="text" readonly/></div>
        </div>

        <div id="diseaseGroups" class="approve-groups"></div>

        <div class="form-actions-row">
            <button type="button" class="btn btn-danger-outline" id="btnReject">거절</button>
            <button type="button" class="btn btn-success" id="btnApprove">승인</button>
        </div>
    </div>
</main>
<script th:src="@{/js/cama-api.js}"></script>
<script th:src="@{/js/ui-modal.js}"></script>
<script th:inline="javascript">
    window.__SERVICE_SEQ__ = /*[[${serviceSeq}]]*/ '';
</script>
<script th:src="@{/js/app-shell.js}"></script>
<script th:src="@{/js/approve-service.js}"></script>
</body>
</html>
