<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- CamelCase 적용 기본값은 false -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.cama.batch.mapper"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/ScheduleMapper.xml"/>
        <mapper resource="mapper/TrackServiceMapper.xml"/>
    </mappers>

</configuration>
